{% extends 'base.html.twig' %}


{% block body %}
{%for message in app.flashes('success') %}
{{ message}}
{% endfor %}
<table class="table table-stripe">
<thread>
<th>Id </th>
<th>Name</th>
<th>Image</th>
<th>Desc</th>
<th>Price </th>
<th></td>
<th><a href="{{path('dish.create')}}">Create</a></th>
</thread>
{% for dish in dishes %}
 <tr>
 <td>{{dish.id}}</td>
 <td>{{dish.name}}</td>
 <td><a href="{{path('dish.show', {id:dish.id})}}">{{dish.image}}</td>
 <td>{{dish.description}}</td>
 <td>{{dish.price}}</td>
 <td><a href="{{path('dish.delete',{id: dish.id})}}" />x</a></td>
 <td></td>
 </tr>
{% endfor %}
</table>
{% endblock %}
